.sidebar-primary {
	float: right;
	width: 32%; /* 340px / 1140px */
	padding: 2em;
}

.sidebar .widget-title {
		text-transform: uppercase;
		font-weight: bold;
}

.aside h2 {
	font-weight: bold;
	text-transform: uppercase;
}

#text-31 {
  margin-bottom: 5.2em;
}

#search-4 .widget-title {
    font-size: 20px;
    font-size: 2rem;
    margin-bottom: 20px;
    border-top: 1px solid black;
    padding-top: 2em;
}

#categories-4 {
	margin-top: 5.5em;
	margin-bottom: 4.5em;	
}